/* Đây là style cho khung layout */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}

header {
    height: 175px;
    background-color: #FFC0CB;
}
.header-top{
    width: 1024px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
}

.logo{
    width: 160px;
    height: 60px;
}

header .logo img {
    height: 100%;
    width: 150%;
    object-fit: cover;
}

.find{
    /* background-color: red; */
    width: 416px;
    height: 39px;
    /* margin: auto; */
    display: flex;
    align-items: center;

}
.find button {
    background: none;
    border: none;
}

.find button i {
    left: 70px;
    top: 55px;
    margin-left: -50px;

}
.icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu > ul > li > i{
    font-size: 25px;
    
}

.menu > ul > li > a{
    text-decoration: none;
    font-size: 16px;
    font-family: inter;
    line-height: 20px;
    padding-left: 7px;
}
.fa-cart-shopping{
    color: green;
}
.booklist >a> i.fa-solid.fa-address-book{
    color: rgb(0, 251, 255);
    padding-left: 10px;
}

.phone {
    width: 160px;
    height: 35px;
    background-color: #D9D9D9;
    border-radius: 30px 0px 0px 30px;}

.phone button {
    border-radius: 30px;
    width: 35px;
    height: 35px;
    border: none;

}

.phone a {
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
}

.booklist {

    /* width: 160px;
    height: 35px; */
}

.booklist i {
    font-size: 30px;
    border-left: 2px solid #808080;
    margin-left: 15px;
}

.booklist>.fa-address-book{
    padding-left: 18px;
}

.booklist>a>.fa-cart-shopping{
    padding-left: 18px;
    color: aqua;
}

.find input {
    width: 416px;
    height: 39px;
    border-radius: 30px;
}
nav{
    margin: 30px;
}

.menu{
    width: 1024px;
    height: 40px;
    display: flex;
    margin: auto;
}
.menu > ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.menu > ul > li{
    margin: auto 20px;
}
.menu > ul > li:nth-child(1){
    margin: 0;
    margin-right: 20px;
}

.menu > ul > li > a{
    color: #fff;
}

.menu > ul > li > ul > li > a > i{
    font-size: 13px;
    margin: 0 10px 0 0 ;
}
.menu > ul > li > ul > li > a  {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    color: #fff;
    margin-left: 5px;
}
.menu > ul > li > ul > li:hover > a{
    color: #DB7093;
}

.menu-level {
    display: none;
    position: absolute;
    top: 15px;
    border: none;
    background-color: #FFC0CB;
    width: 200px;
    height: 100px;
    list-style: none;
    margin-left: 10px;
    position: absolute;
    border: 1px solid #fff;
    top: 25px;
    z-index: 1;
}

.menu > ul > li > ul > li {
    padding: 5px;
}



.menu > ul > li{
    position: relative;
    cursor: pointer;
}

.menu > ul > li:hover > ul{
    display: block;
}



footer{
    width: 100%;
    height: 300px;
    clear: both;
    margin-top: 20px;
    background-color: #FCA2C0;
    
}

.container_footer{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    margin: auto;
    justify-items: center;
}

.itemI>img{
    width: 80%;
    margin-top: -70px;
}

.itemI>.slogen{
    margin-top: -110px;
    margin-left: 85px;
    width: 200px;
    color: white;
}

.itemI>p>strong{
    margin-left: 85px;
    color: white;
}

.itemII{
    margin-top: 70px;
}

.itemII>h3{
    margin-bottom: 20px;
    color: white;
}


.itemII>ul{
    margin: 0;
    padding: 0;
}

.itemII>ul>li{
    list-style: none;
}

.itemII>ul>li>p{
    margin-bottom: 5px;
    color: white;
}

.itemII>ul>li>p>span{
    text-decoration: underline;
}

.itemIII{
    margin-top: 70px;
}

.itemIII>h3{
    color: white;
    margin-bottom: 20px;
}

.itemIII>ul>li{
    list-style: none;
}

.itemIII>ul>li>a{
    text-decoration: none;
    color: white;
}

.itemIII>ul>li>a>p{
    margin-bottom: 5px;
}

.item4{
    margin-top: 70px;
}

.item4>h3{
    color: white;
    margin-bottom: 20px;
}

.item4>ul>li{
    list-style: none;
}

.item4>ul>li>p{
    color: white;
    margin-bottom: 5px;
}

.creater{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.creater>p{
    color: gray;
    
}
/* end */










/* style info-cart */
.main {
    width: 100%;
    height: auto;
}

.main .main-top {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .main-top p {
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FCA2C0;
    border-bottom: 1px solid #808080;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table thead {
    background-color: #DCDCDC;
}

table thead tr td {
    padding: 10px 20px;
    border: 1px solid black;
    border-bottom: none;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

table tbody tr td {
    padding: 10px 20px;
    border: 1px solid black;
    border-top: none;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

table tbody tr td button {
    background-color: none;
    border: none;
}

table tbody tr td button i {
    font-size: 30px;
}

.main .main-bottom {
    margin-left: 960px;
    margin-top: 20px;
}

.main .main-bottom h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-bottom: 10px;
}

.main .main-bottom h3 a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FF0000;
}

.main .main-bottom button {
    width: 156px;
    height: 50px;
    background-color: #FFC0CB;
    border-radius: 5px;
    border: none;
}
/* end */






/* style change-pass */
/* main */
.main {
    width: 100%;
    height: auto;
}

.main .back {
    background-image: url('../Images/banner-sign-in/anhform.jpg');
    background-size: cover;
    height: 850px;
    border: 1px solid #fff;
}

.main .main-top {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .main-top p {
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FCA2C0;
    border-bottom: 1px solid #808080;
}

.main .back .change-password {
    border: 1px solid #000000;
    width: 371px;
    height: 379px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    border-radius: 5px;
    opacity: 0.6;
}

.change-password {
    margin-top: 100px;
}

.main .back .change-password .top {
    border-bottom: 1px solid #000000;
    width: 345.01px;
    margin-left: auto;
    margin-right: auto;
}

.main .back .change-password .top p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.main .back .change-password .form input {
    border: none;
    border-bottom: 1px solid #000000;
    width: 300px;
    padding-top: 20px;
}

.main .back .change-password .bottom {
    padding-top: 20px;
}

.main .back .change-password .bottom button {
    background: #FFC0CB;
    border-radius: 3px;
    border: none;
    width: 83px;
    height: 26px;
}
/* end */



/* style-home */
.waper{
    width: 1024px;
    height: 210px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.slider {
    height: 300px;
    display: flex;
}


.waper-left {
    width: 80%;
    height: 100%;
    padding: 0 10px;
    position: relative;
    
}
.waper-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.waper-right {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.waper-right img{
    width: 100%;
    height: 100%;
}
.btn-next-left{

    height: 40px;
    width: 40px;

    border-radius: 50%;
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    position: absolute;
   
    top: calc(50% - 20px);
    left: 20px;
    cursor: pointer;
}
.btn-next-right{

    height: 40px;
    width: 40px;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 20px);
    right: 20px;
    cursor: pointer;
}
.slider-round{
    width: calc(100% - 20px);
    position: absolute;
    /* background-color: red; */
    text-align: center;
    bottom: 10px;
}
.s-active{
    background-color: #fff;
    border-radius: 50%;
}



.section1 {
    width: 100%;
    height: 334px;
    background-color: #F7F7F7;
    display: flex;

}
.section-item{
    width: 1024px;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item1{
    text-align: center;
}
.item-img{
    background-color: #FFC0CB;
    border-radius: 30px;
    width: 138px;
    height: 165px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item-img > a > img{
    width: 65%;
    margin: auto;
}
.item-tittle {
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
}
.section2{
    height: 300px;
    margin-top: 10px ;
    position: relative;
}
.slider2{
    width: 1024px;
    height: 100%;
    margin: auto;
}
.slider2-titlle2{
    text-align: right;
    padding: 3px;
    font-size: 15px;
}
.slider2-titlle2 > a{
    text-decoration: none;
}

.slider2-banner2{
    height: 34px;
    background-color: #F7F7F7;
}
.slider2-item2{
    width: 1024px;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item2{
    text-align: center;
}
.item2-img{
    width: 138px;
    height: 165px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item2-img > a > img{
    width: 90px;
    height: 100px;
}
.item2-tittle {
        font-size: 16px;
        line-height: 19px;
        margin-top: 3px;
}
.item2-price{
    margin-top: 10px;
}
.silder2-banner2-titlle2{
    width: 20%;
height: 100%;
    background-color: #DB7093;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 500px 500px 0px;
}
.silder2-banner2-titlle2 > i{
    font-size: 16px;
    color: #FFC0CB;
}
.silder2-banner2-titlle2 > p{
    color: #fff;
}
.section2-next-right{
    height: 40px;
    width: 40px;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 170px;
    cursor: pointer;
}
.section2-next-left{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    left: 170px;
    cursor: pointer;
}

.section3{
    height: 520px;
    margin-top: 55px ;
    position: relative;
}
.section3-item{
    width: 1024px;
    height: 100%;
    margin: auto;
}
.section3-banner3{
    height: 34px;
    background-color: #F7F7F7;
}
.section3-banner3-titlle3{
    width: 20%;
    height: 100%;
    background-color: #DB7093;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 500px 500px 0px;
}
.section3-banner3-titlle3 > p{
    color: #fff;
}
.section3-banner3-titlle3 > i{
    font-size: 16px;
    color: #FFC0CB;
}
.section3-item3{
    width: 1024px;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}
.item3{
    text-align: center;
    margin: 15px 50px;

}
.item3-img{
    background-color: #FFC0CB;
    width: 138px;
    height: 165px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item3-img > a > img{
    width: 65%;
    margin: auto;
}
.item3-tittle {
        font-size: 16px;
        line-height: 19px;
        margin-top: 3px;
}
.item2-price{
    margin-top: 10px;

}
.bg-price-color{
    color: red;
}
/* end */



/* css cho trang đăng kí */

.main{
    width: 100%;
    height: auto;
    display: grid;
}

.main>p{
    margin-top: 15px;
    margin-left: 10px;
    color: pink;
}

.border-bottom{
    border-bottom: 1px solid gray;
    width: 100%;
    height: 1px;
}

.contain_form{
    margin-top: 10px;
    width: 90%;
    height: 600px;
    background-image: url(http://localhost/web17311-nhom3/contents/Images/register/anhform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    display: grid;
}

.register_form{
    width: 35%;
    height: 400px;
    border: 2px solid palevioletred;
    justify-self: center;
    align-self: center;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 5px;
}



.register_form>form>h3{
    text-align: center;
    color: palevioletred;
}

.register_form>form>hr{
    border: none;
    height: 1px;
    background-color: pink;
}

form>.form_group{
    width: 80%;
    border-bottom: 1px solid pink;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

form>.form_group>.input_form{
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 15px;
    color: white;
}

.input_form::placeholder{
    color: whitesmoke;
}

form>center>.submit_dk{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #DB7093;
    border-radius: 30px;
    color: white;
}


form>center>.submit_dk:hover{
    background-color: white;
    color: palevioletred;
   
}


/* end  */


/* css cho thông tin thanh toán */
.main{
    width: 100%;
    height: auto;
    

}

.title_list{
    color: #DB7093;
    margin-top: 10px;
    margin-left: 10px;
}


.title_list>a{
    text-decoration: none;
    color: #DB7093;
}

.border-bottom{
    border-bottom: 1px solid gray;
}

form>.container_info{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 47.5% 39%;
    grid-template-rows: 500px;
    grid-column-gap: 10px;
    margin-top: 15px;
    justify-content: center;


}

.info_left{
    width: 100%;
    height: auto;
}

.info_left>h3{
    font-weight: 600;
}

.info_left>.border-bottom{
    width: 19%;
    border-bottom: 1.5px solid black;
}

.name_name{
    margin-top: 20px;
    width: 100%;
    height: auto;
 
}

.input_name1{
    width: 50%;
    float: left;
}

.input_name1>p{
   margin-bottom: 10px;
}

.input_name1>input{
    width: 320px;
    padding: 10px 10px;
}

.input_name2{
    width: 50%;
    float: right;
}

.input_name2>p{
    margin-bottom: 10px;
}

.input_name2>ul>li{
    list-style: none;
    margin-bottom: 5px;
}

.info_left>.input_sdt{
    width: 100%;
    height: auto;
    clear: both;
    margin-top: 120px;
   
}

.input_sdt>p{
    margin-bottom: 10px;
}

.input_sdt>input{
    width: 320px;
    padding: 10px 10px;
}


.address{
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.address>p{
    margin-bottom: 10px;
}

.sum_input_address{
    display: grid;
    grid-template-columns: 320px 320px;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.sum_input_address>select{
    padding: 10px 10px;
}

.sum_input_address>input{
    padding: 10px 10px;
}


.feedback{
    margin-top: 30px;
}

.feedback>p{
    margin-bottom: 10px;
}

.feedback>textarea{
    color: red;
}



.info_right{
    width: 100%;
    height: auto;
    display: grid;
}

.info_right>h3{
    font-weight: 600;
    text-decoration: underline;
}

/* .info_right>.border-bottom{
    width: 20%;
    border-bottom: 1.5px solid black;
    margin-bottom: 20px;

} */

.order{
    width: 100%;
    height: auto;
}
.order>p{
    font-weight: bold;
    font-size: 16px;
}

.order>.item_pro{
    float: left;
}

.order>.item_sum{
    float: right;
    margin-right: 143px;
}

.info_order_left{
    width: 50%;
    height: auto;
    float: left;
    margin-top: 20px;
}

.info_order_left>p{
    margin-bottom: 15px;
}

.info_order_left>p>span{
    padding: 5px 10px;
    background-color: greenyellow;
}


.info_order_right{
    width: 30%;
    height: auto;
    float: right;
}

.info_order_right{
   margin-top: 20px;
}

.info_order_right>p{
   color: red;
   padding: 10px 20px;
   background-color: gray;
}

.border-bottom2{
    width: 100%;
    border-bottom: 2px solid gray;
    clear: both;
}

.sum_orders{
    margin-top: 10px;
}

.sum_orders>span{
    color: red;
    text-decoration: underline;
}


.pay_method{
    margin-top: 30px;
}

.pay_method>p{
    margin-bottom: 10px;
}

.pay_method>ul>li{
    list-style: none;
    
}

.pay_method>ul{
    margin-left: 10px;
}

.info_right>button{
    padding: 0px 30px;
    font-size: 16px;
    background-color: #DB7093;
    color: white;
    border-radius: 3px;
    justify-self: center;
    border: 1px solid pink;

}

.info_right>button:hover{
    background-color: white;
    color: palevioletred;
}

/* end  */


/* Thử*/
main{
    width: 100%;
    height: auto;
    

}

.title_list{
    color: #DB7093;
    margin-top: 10px;
    margin-left: 10px;
}

.title_list>a{
    text-decoration: none;
    color: #DB7093;
}

.border-bottom{
    border-bottom: 1px solid gray;
}

form>.container_info{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 47.5% 39%;
    grid-template-rows: 500px;
    grid-column-gap: 10px;
    margin-top: 15px;
    justify-content: center;

}

.info_left{
    width: 100%;
    height: auto;
}

.info_left>h3{
    font-weight: 600;
}

.info_left>.border-bottom{
    width: 19%;
    border-bottom: 1.5px solid black;
}

.name_name{
    margin-top: 20px;
    width: 100%;
    height: auto;
 
}

.input_name1{
    width: 50%;
    float: left;
}

.input_name1>p{
   margin-bottom: 10px;
}

.input_name1>input{
    width: 320px;
    padding: 10px 10px;
}

.input_name2{
    width: 50%;
    float: right;
}

.input_name2>p{
    margin-bottom: 10px;
}

.input_name2>ul>li{
    list-style: none;
    margin-bottom: 5px;
}

.info_left>.input_sdt{
    width: 100%;
    height: auto;
    clear: both;
    margin-top: 120px;
   
}

.input_sdt>p{
    margin-bottom: 10px;
}

.input_sdt>input{
    width: 320px;
    padding: 10px 10px;
}

.address{
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.address>p{
    margin-bottom: 10px;
}

.sum_input_address{
    display: grid;
    grid-template-columns: 320px 320px;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.sum_input_address>select{
    padding: 10px 10px;
}

.sum_input_address>input{
    padding: 10px 10px;
}

.feedback{
    margin-top: 30px;
}

.feedback>p{
    margin-bottom: 10px;
}

.feedback>textarea{
    color: red;
}


.info_right{
    width: 100%;
    height: auto;
    display: grid;
}

.info_right>h3{
    font-weight: 600;
    text-decoration: underline;
}

/* .info_right>.border-bottom{
    width: 20%;
    border-bottom: 1.5px solid black;
    margin-bottom: 20px;

} */

.order{
    width: 100%;
    height: auto;
}
.order>p{
    font-weight: bold;
    font-size: 16px;
}

.order>.item_pro{
    float: left;
}

.order>.item_sum{
    float: right;
    margin-right: 143px;
}

.info_order_left{
    width: 50%;
    height: auto;
    float: left;
    margin-top: 20px;
}

.info_order_left>p{
    margin-bottom: 15px;
}

.info_order_left>p>span{
    padding: 5px 10px;
    background-color: greenyellow;
}

.info_order_right{
    width: 30%;
    height: auto;
    float: right;
}

.info_order_right{
   margin-top: 20px;
}

.info_order_right>p{
   color: red;
   padding: 10px 20px;
   background-color: gray;
}

.border-bottom2{
    width: 100%;
    border-bottom: 2px solid gray;
    clear: both;
}

.sum_orders{
    margin-top: 10px;
}

.sum_orders>span{
    color: red;
    text-decoration: underline;
}

.pay_method{
    margin-top: 30px;
}

.pay_method>p{
    margin-bottom: 10px;
}

.pay_method>ul>li{
    list-style: none;
    
}

.pay_method>ul{
    margin-left: 10px;
}
.info_right>button{
    padding: 0px 30px;
    font-size: 16px;
    background-color: #DB7093;
    color: white;
    border-radius: 3px;
    justify-self: center;
    border: 1px solid pink;

}

.info_right>button:hover{
    background-color: white;
    color: palevioletred;
}

/* end */


/* style cho trang tìm kiếm  */

.main{
    margin-top: 10px;
    width: 100%;
    height: auto;
    clear: both;
    
}

.main>p{
    color: pink;
    margin-left: 10px;
}
.main>p>a{
    color: pink;
    text-decoration: none;
}

.border-bottom{
    border-bottom: 1px solid gray;
}

.contai_cate{
    margin-top: 20px;
    margin-left: 103px;
    width: 80%;
    height: auto;
}

.cate_title{
    width: 100%;
    height: 30px;
    background-color: #F7F7F7;
}

.cate_title>p{
    width: 15%;
    height: 30px;
    padding: 5px 20px;
    background-color: palevioletred;
    border-radius: 0 30px 30px 0;
    color: white;
    position: relative;
}

.cate_title>p>span{
    color: pink;
    margin-left: 39px;
    position: absolute;
    font-size: 25px;
    margin-top: -5px;
}


.cate_title>p>.span1{
    color: pink;
    margin-left: 28px;
    position: absolute;
    font-size: 25px;
    margin-top: -5px;
}

.cate_title>p>.span2{
    color: pink;
    margin-left: 11px;
    position: absolute;
    font-size: 25px;
    margin-top: -5px;
}



.product_in_cate{
    width: 100%;
    height: auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 190px 190px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    justify-content: center;
}

.prod1{
    background-color: #F8F8FF;
    display: grid;
    justify-items: center;
    border-radius: 3px;
}

.prod1>img{
    width: 30%;
    margin-top: 10px;
}

.prod1>img:hover{
    transform: scale(1.5);
    transition: all 1s ease-in-out;
    margin-bottom: 15px;
    cursor: pointer;
    
}


.price{
    color: red;
    justify-self: center;
}

.prod1>a>p{
    text-transform: uppercase;
    
}

.prod1>a>p:hover{
    color: deeppink;
    
}


.prod1>a{
    text-decoration: none;
    color: #DB7093;
}

.prod2{
    background-color: #F8F8FF;
    display: grid;
    justify-items: center;
    border-radius: 3px;

}
.prod2>img{
    justify-self: center;
    width: 35%;
    margin-top: 10px;
    
}

.prod2>img:hover{
    transform: scale(1.5);
    transition: all 1s ease-in-out;
    margin-bottom: 15px;
    cursor: pointer;
}

.prod2>.price{
    color: red;
    justify-self: center;
}

.prod2>p{
    text-transform: uppercase;
    justify-self: center;
}

.prod2>a>p{
    text-transform: uppercase;
    
}

.prod2>a>p:hover{
    color: deeppink;
    
}

.prod2>a{
    text-decoration: none;
    color: #DB7093;
}

.prod3{
    background-color: #F8F8FF;
    display: grid;
    justify-items: center;
    border-radius: 3px;

}
.prod3>img{
    justify-self: center;
    width: 43%;
    margin-top: 10px;
    
}

.prod3>img:hover{
    transform: scale(1.5);
transition: all 1s ease-in-out;
    margin-bottom: 15px;
    cursor: pointer;
}

.prod3>.price{
    color: red;
    justify-self: center;
}

.prod3>p{
    text-transform: uppercase;
    justify-self: center;
}

.prod3>a>p{
    text-transform: uppercase;
    
}

.prod3>a>p:hover{
    color: deeppink;
    
}

.prod3>a{
    text-decoration: none;
    color: #DB7093;
}

.prod4{
    background-color: #F8F8FF;
    display: grid;
    justify-items: center;
    border-radius: 3px;
}
.prod4>img{
    justify-self: center;
    width: 26%;
    margin-top: 10px;
    
}

.prod4>img:hover{
    transform: scale(1.5);
    transition: all 1s ease-in-out;
    margin-bottom: 15px;
    cursor: pointer;
}

.prod4>.price{
    color: red;
    justify-self: center;
}

.prod4>p{
    text-transform: uppercase;
    justify-self: center;
}

.prod4>a>p{
    text-transform: uppercase;
    
}

.prod4>a>p:hover{
    color: deeppink;
    
}

.prod4>a{
    text-decoration: none;
    color: #DB7093;
}




.prod5{
    background-color: #F8F8FF;
    display: grid;
    justify-items: center;
    border-radius: 3px;
}
.prod5>img{
    justify-self: center;
    width: 30%;
    margin-top: 10px;
    
}

.prod5>img:hover{
    transform: scale(1.5);
    transition: all 1s ease-in-out;
    margin-bottom: 15px;
    cursor: pointer;
}

.price{
    color: red;
    justify-self: center;
}

.prod5>p{
    text-transform: uppercase;
    justify-self: center;
}

.prod5>a>p{
    text-transform: uppercase;
    
}

.prod5>a>p:hover{
    color: deeppink;
    
}

.prod5>a{
    text-decoration: none;
    color: #DB7093;
}

.prod6{
    background-color: #F8F8FF;
    display: grid;
    justify-items: center;
    border-radius: 3px;
}
.prod6>img{
    justify-self: center;
    width: 36%;
    margin-top: 10px;
    
}

.prod6>img:hover{
    transform: scale(1.5);
    transition: all 1s ease-in-out;
    margin-bottom: 15px;
    cursor: pointer;
}

.prod6>.price{
    color: red;
    justify-self: center;
}

.prod6>p{
    text-transform: uppercase;
    justify-self: center;
}

.prod6>a>p{
    text-transform: uppercase;
    
}

.prod6>a>p:hover{
    color: deeppink;
    
}

.prod6>a{
    text-decoration: none;
    color: #DB7093;
}

.prod7{
    background-color: #F8F8FF;
    display: grid;
    justify-items: center;
    border-radius: 3px;
}
.prod7>img{
    justify-self: center;
    width: 30%;
    margin-top: 10px;
    
}

.prod7>img:hover{
    transform: scale(1.5);
    transition: all 1s ease-in-out;
    margin-bottom: 15px;
    cursor: pointer;
}

.prod7>.price{
    color: red;
    justify-self: center;
}

.prod7>p{
    text-transform: uppercase;
    justify-self: center;
}

.prod7>a>p{
    text-transform: uppercase;
    
}

.prod7>a>p:hover{
    color: deeppink;
    
}

.prod7>a{
    text-decoration: none;
    color: #DB7093;
}

.prod8{
    background-color: #F8F8FF;
    display: grid;
    justify-items: center;
    border-radius: 3px;
}
.prod8>img{
    justify-self: center;
    width: 40%;
margin-top: 10px;
    
}

.prod8>img:hover{
    transform: scale(1.5);
    transition: all 1s ease-in-out;
    margin-bottom: 15px;
    cursor: pointer;
}

.prod8>.price{
    color: red;
    justify-self: center;
}

.prod8>p{
    text-transform: uppercase;
    justify-self: center;
}

.prod8>a>p{
    text-transform: uppercase;
    
}

.prod8>a>p:hover{
    color: deeppink;
    
}

.prod8>a{
    text-decoration: none;
    color: #DB7093;
}

/* end  */


/* css cho trang đăng kí */
.main{
    width: 100%;
    height: auto;
    display: grid;
}

.main>p{
    margin-top: 15px;
    margin-left: 10px;
    color: pink;
}

.border-bottom{
    border-bottom: 1px solid gray;
    width: 100%;
    height: 1px;
}

.contain_form{
    margin-top: 10px;
    width: 90%;
    height: 600px;
    background-image: url(Images/register/anhform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    display: grid;
}

.register_form{
    width: 35%;
    height: 400px;
    border: 2px solid palevioletred;
    justify-self: center;
    align-self: center;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 5px;
}



.register_form>form>h3{
    text-align: center;
    color: palevioletred;
}

.register_form>form>hr{
    border: none;
    height: 1px;
    background-color: pink;
}

form>.form_group{
    width: 80%;
    border-bottom: 1px solid pink;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

form>.form_group>.input_form{
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 15px;
    color: white;
}

.input_form::placeholder{
    color: whitesmoke;
}

form>center>.submit_dk{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #DB7093;
    border-radius: 30px;
    color: white;
}


form>center>.submit_dk:hover{
    background-color: white;
    color: palevioletred;
   
}


/* end  */