/* Đây là style cho khung layout */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}

header {
    height: 175px;
    background-color: #FFC0CB;
}
.header-top{
    width: 1024px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
}

.logo{
    width: 160px;
    height: 60px;
}

header .logo img {
    height: 100%;
    width: 150%;
    object-fit: cover;
}

.find{
    /* background-color: red; */
    width: 416px;
    height: 39px;
    /* margin: auto; */
    display: flex;
    align-items: center;

}
.find button {
    background: none;
    border: none;
}

.find button i {
    left: 70px;
    top: 55px;
    margin-left: -50px;

}
.icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu > ul > li > i{
    font-size: 25px;
    
}

.menu > ul > li > a{
    text-decoration: none;
    font-size: 16px;
    font-family: inter;
    line-height: 20px;
    padding-left: 7px;
}
.fa-cart-shopping{
    color: green;
}
.booklist >a> i.fa-solid.fa-address-book{
    color: rgb(0, 251, 255);
    padding-left: 10px;
}

.phone {
    width: 160px;
    height: 35px;
    background-color: #D9D9D9;
    border-radius: 30px 0px 0px 30px;}

.phone button {
    border-radius: 30px;
    width: 35px;
    height: 35px;
    border: none;

}

.phone a {
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
}

.booklist {

    /* width: 160px;
    height: 35px; */
}

.booklist i {
    font-size: 30px;
    border-left: 2px solid #808080;
    margin-left: 15px;
}

.booklist>.fa-address-book{
    padding-left: 18px;
}

.booklist>a>.fa-cart-shopping{
    padding-left: 18px;
    color: aqua;
}

.find input {
    width: 416px;
    height: 39px;
    border-radius: 30px;
}
nav{
    margin: 30px;
}

.menu{
    width: 1024px;
    height: 40px;
    display: flex;
    margin: auto;
}
.menu > ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.menu > ul > li{
    margin: auto 20px;
}
.menu > ul > li:nth-child(1){
    margin: 0;
    margin-right: 20px;
}

.menu > ul > li > a{
    color: #fff;
}

.menu > ul > li > ul > li > a > i{
    font-size: 13px;
    margin: 0 10px 0 0 ;
}
.menu > ul > li > ul > li > a  {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    color: #fff;
    margin-left: 5px;
}
.menu > ul > li > ul > li:hover > a{
    color: #DB7093;
}

.menu-level {
    display: none;
    position: absolute;
    top: 15px;
    border: none;
    background-color: #FFC0CB;
    width: 200px;
    height: 100px;
    list-style: none;
    margin-left: 10px;
    position: absolute;
    border: 1px solid #fff;
    top: 25px;
    z-index: 1;
}

.menu > ul > li > ul > li {
    padding: 5px;
}



.menu > ul > li{
    position: relative;
    cursor: pointer;
}

.menu > ul > li:hover > ul{
    display: block;
}



footer{
    width: 100%;
    height: 300px;
    clear: both;
    margin-top: 20px;
    background-color: #FCA2C0;
    
}

.container_footer{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    margin: auto;
    justify-items: center;
}

.item1>img{
    width: 80%;
    margin-top: -70px;
}

.item1>.slogen{
    margin-top: -110px;
    margin-left: 85px;
    width: 200px;
    color: white;
}

.item1>p>strong{
    margin-left: 85px;
    color: white;
}

.item2{
    margin-top: 70px;
}

.item2>h3{
    margin-bottom: 20px;
    color: white;
}


.item2>ul{
    margin: 0;
    padding: 0;
}

.item2>ul>li{
    list-style: none;
}

.item2>ul>li>p{
    margin-bottom: 5px;
    color: white;
}

.item2>ul>li>p>span{
    text-decoration: underline;
}

.item3{
    margin-top: 70px;
}

.item3>h3{
    color: white;
    margin-bottom: 20px;
}

.item3>ul>li{
    list-style: none;
}

.item3>ul>li>a{
    text-decoration: none;
    color: white;
}

.item3>ul>li>a>p{
    margin-bottom: 5px;
}

.item4{
    margin-top: 70px;
}

.item4>h3{
    color: white;
    margin-bottom: 20px;
}

.item4>ul>li{
    list-style: none;
}

.item4>ul>li>p{
    color: white;
    margin-bottom: 5px;
}

.creater{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.creater>p{
    color: gray;
    
}
/* end */










/* style info-cart */
.main {
    width: 100%;
    height: auto;
}

.main .main-top {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .main-top p {
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FCA2C0;
    border-bottom: 1px solid #808080;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table thead {
    background-color: #DCDCDC;
}

table thead tr td {
    padding: 10px 20px;
    border: 1px solid black;
    border-bottom: none;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

table tbody tr td {
    padding: 10px 20px;
    border: 1px solid black;
    border-top: none;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

table tbody tr td button {
    background-color: none;
    border: none;
}

table tbody tr td button i {
    font-size: 30px;
}

.main .main-bottom {
    margin-left: 960px;
    margin-top: 20px;
}

.main .main-bottom h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-bottom: 10px;
}

.main .main-bottom h3 a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FF0000;
}

.main .main-bottom button {
    width: 156px;
    height: 50px;
    background-color: #FFC0CB;
    border-radius: 5px;
    border: none;
}
/* end */






/* style change-pass */
/* main */
.main {
    width: 100%;
    height: auto;
}

.main .back {
    background-image: url('../Images/banner-sign-in/anhform.jpg');
    background-size: cover;
    height: 850px;
    border: 1px solid #fff;
}

.main .main-top {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .main-top p {
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FCA2C0;
    border-bottom: 1px solid #808080;
}

.main .back .change-password {
    border: 1px solid #000000;
    width: 371px;
    height: 379px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    border-radius: 5px;
    opacity: 0.6;
}

.change-password {
    margin-top: 100px;
}

.main .back .change-password .top {
    border-bottom: 1px solid #000000;
    width: 345.01px;
    margin-left: auto;
    margin-right: auto;
}

.main .back .change-password .top p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.main .back .change-password .form input {
    border: none;
    border-bottom: 1px solid #000000;
    width: 300px;
    padding-top: 20px;
}

.main .back .change-password .bottom {
    padding-top: 20px;
}

.main .back .change-password .bottom button {
    background: #FFC0CB;
    border-radius: 3px;
    border: none;
    width: 83px;
    height: 26px;
}
/* end */



/* style-home */
.waper{
    width: 1024px;
    height: 210px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.slider {
    height: 300px;
    display: flex;
}


.waper-left {
    width: 80%;
    height: 100%;
    padding: 0 10px;
    position: relative;
    
}
.waper-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.waper-right {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.waper-right img{
    width: 100%;
    height: 100%;
}
.btn-next-left{

    height: 40px;
    width: 40px;

    border-radius: 50%;
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    position: absolute;
   
    top: calc(50% - 20px);
    left: 20px;
    cursor: pointer;
}
.btn-next-right{

    height: 40px;
    width: 40px;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 20px);
    right: 20px;
    cursor: pointer;
}
.slider-round{
    width: calc(100% - 20px);
    position: absolute;
    /* background-color: red; */
    text-align: center;
    bottom: 10px;
}
.s-active{
    background-color: #fff;
    border-radius: 50%;
}



.section1 {
    width: 100%;
    height: 334px;
    background-color: #F7F7F7;
    display: flex;

}
.section-item{
    width: 1024px;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item1{
    text-align: center;
}
.item-img{
    background-color: #FFC0CB;
    border-radius: 30px;
    width: 138px;
    height: 165px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item-img > a > img{
    width: 65%;
    margin: auto;
}
.item-tittle {
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
}
.section2{
    height: 300px;
    margin-top: 10px ;
    position: relative;
}
.slider2{
    width: 1024px;
    height: 100%;
    margin: auto;
}
.slider2-titlle2{
    text-align: right;
    padding: 3px;
    font-size: 15px;
}
.slider2-titlle2 > a{
    text-decoration: none;
}

.slider2-banner2{
    height: 34px;
    background-color: #F7F7F7;
}
.slider2-item2{
    width: 1024px;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item2{
    text-align: center;
}
.item2-img{
    width: 138px;
    height: 165px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item2-img > a > img{
    width: 90px;
    height: 100px;
}
.item2-tittle {
        font-size: 16px;
        line-height: 19px;
        margin-top: 3px;
}
.item2-price{
    margin-top: 10px;
}
.silder2-banner2-titlle2{
    width: 20%;
height: 100%;
    background-color: #DB7093;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 500px 500px 0px;
}
.silder2-banner2-titlle2 > i{
    font-size: 16px;
    color: #FFC0CB;
}
.silder2-banner2-titlle2 > p{
    color: #fff;
}
.section2-next-right{
    height: 40px;
    width: 40px;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 170px;
    cursor: pointer;
}
.section2-next-left{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    left: 170px;
    cursor: pointer;
}

.section3{
    height: 520px;
    margin-top: 55px ;
    position: relative;
}
.section3-item{
    width: 1024px;
    height: 100%;
    margin: auto;
}
.section3-banner3{
    height: 34px;
    background-color: #F7F7F7;
}
.section3-banner3-titlle3{
    width: 20%;
    height: 100%;
    background-color: #DB7093;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 500px 500px 0px;
}
.section3-banner3-titlle3 > p{
    color: #fff;
}
.section3-banner3-titlle3 > i{
    font-size: 16px;
    color: #FFC0CB;
}
.section3-item3{
    width: 1024px;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}
.item3{
    text-align: center;
    margin: 15px 50px;

}
.item3-img{
    background-color: #FFC0CB;
    width: 138px;
    height: 165px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item3-img > a > img{
    width: 65%;
    margin: auto;
}
.item3-tittle {
        font-size: 16px;
        line-height: 19px;
        margin-top: 3px;
}
.item2-price{
    margin-top: 10px;

}
.bg-price-color{
    color: red;
}
/* end */



/* css cho trang đăng kí */

.main{
    width: 100%;
    height: auto;
    display: grid;
}

.main>p{
    margin-top: 15px;
    margin-left: 10px;
    color: pink;
}

.border-bottom{
    border-bottom: 1px solid gray;
    width: 100%;
    height: 1px;
}

.contain_form{
    margin-top: 10px;
    width: 90%;
    height: 600px;
    background-image: url(http://localhost/web17311-nhom3/contents/Images/register/anhform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    display: grid;
}

.register_form{
    width: 35%;
    height: 400px;
    border: 2px solid palevioletred;
    justify-self: center;
    align-self: center;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 5px;
}



.register_form>form>h3{
    text-align: center;
    color: palevioletred;
}

.register_form>form>hr{
    border: none;
    height: 1px;
    background-color: pink;
}

form>.form_group{
    width: 80%;
    border-bottom: 1px solid pink;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

form>.form_group>.input_form{
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 15px;
    color: white;
}

.input_form::placeholder{
    color: whitesmoke;
}

form>center>.submit_dk{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #DB7093;
    border-radius: 30px;
    color: white;
}


form>center>.submit_dk:hover{
    background-color: white;
    color: palevioletred;
   
}


/* end  */
